header {
    display: grid;
    align-content: center;
    background-color:midnightblue;
    height: 65px;
    width: 100%;
    padding: 0;
}
nav {
    background-color:#688db9;
    height: 30px;
    width: 100%;
    display: grid;

}
.nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    justify-items: center;
}

footer {
    background-color: #688db9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
.icon {
    border: none;
    padding: none;
}








