header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color:midnightblue;
    height: 65px;
    width: 100%;
    padding: 0;
}

.entrar {
    width: 70px;
}
nav {
    background-color:#688db9;
    height: 30px;
    width: 100%;
    display: grid;

}
.nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
    justify-items: center;
}

a:hover {
    color: black;
    opacity: 100%;

}

footer {
    background-color: #688db9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
.icon {
    border: none;
    padding: none;
}

.dropdown a {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
}

.botão {
    color: white;
}
.botão-2 {
    color: black;
}









