{% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINECAP</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <img class="text-center" src="{% static 'img/LOGO-2.png' %}" alt="LOGO" height="45px">
            <div class="entrar">
                <button type="button" class="btn btn-info"><a class="nav-link active entrar" href="{% url 'account_login' %}"><strong>Entrar</strong></a></button>
            </div>
        </header>
    
            
        <nav class="text-center">
            <div class="container-fluid">
                <ul style="list-style: none;" class="nav-list">
                    <li><a class="nav-link active" href="{% url 'index' %}"><strong>Inicio</strong></a></li>
                    <li><a class="nav-link active"  href="{% url 'listar' %}"><strong>Reservas</strong></a></li>
                    <li><a class="nav-link active" href="{% url 'add' %}"><strong>Adicionar</strong></a></li>

                    <!-- <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'account_login' %}" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Entrar            
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                          <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                          <li><a class="dropdown-item" href="{% url 'account_reset_password' %}">Cadastrar</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logount</a></li>
                        </ul>
                    </li> -->
                </ul>    
            </div>
            
        </nav>

        
        {% block center %}

        {% endblock  %}

        <footer class="text-center">
            <div class="pt-3">
                <P><strong>Instagram:</strong></P>
                <P>@reservafinecap2023</P>
            </div>
            <div class="pt-3">
                <P><strong>Email:</strong></P>
                <P>reservafinecap2023@gmail.com</P>
            </div>
        </footer>

        {% block javascript %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            
            <script>
            $(document).ready(function(){
            $('.money').mask('0000,00', {reverse: true})
            })
            </script>
        {% endblock javascript %}

                
    </body>
 

    </html>