{% extends 'base.html' %}
{% load static %}

{% block center %}

<div class="container text-center">
    <div class="row">     

      <div class="col m-4 text-center">
        <br><br><br><br>
        <p><strong>Localização: </strong>{{reserva.localizacao}}</p>
        <p><strong>Nome da empresa: </strong>{{reserva.nome_empresa}}</p>
        <p><strong>Nome da categoria: </strong>{{reserva.categoria_empresa}}</p>
        <p><strong>Localização: </strong>{{reserva.localizacao}}</p>


        
        <br><br><br><br><br><br><br><br>

        <a href="{% url 'listar' %}" class="btn btn-secondary">Voltar</a>
        <a href="{% url 'editar' reserva.pk %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'apagar' reserva.pk %}" class="btn btn-danger">Apagar</a>
        

      </div>

    </div>
  </div>

{% endblock %}